- context ||= :general
= semantic_form_for(@person, :html => {:multipart => true}) do |f|
  = display_errors_for @person
  = f.inputs do
    = f.input :name
    = render 'site/custom_slug_field', :form => f
    - unless @person.new_record?
      = f.semantic_fields_for :user do |u|
        = u.input :email
    = f.input :location
    = f.input :url
    = f.input :bio
    = f.input :tag_list, :as => :text, :input_html => {:class => 'tags'}
    = f.input :technology_list, :as => :text, :input_html => {:class => 'tags'}
  - if mentoring_enabled?
    = f.inputs :name => t('people.field.mentoring.title') do
      = f.input :interested_mentor
      = f.input :mentor_topics
      = f.input :interested_mentee
      = f.input :mentee_topics
  = import_image_from_url_tags_for f, @person, :photo
  = f.input :reviewed, :input_html => {:value => true}, :as => :hidden
  - if current_user.admin?
    = f.input :user, :include_blank => "-- #{t('field.user.blankoption')} --", :label_method => :label_for_admin
  = hidden_field_tag :form_context, context
  = f.buttons
