- context ||= :general
%li.person
  = link_to image_tag(list_item.photo_url(:thumb)), person_path(list_item), :class => 'avatar'
  %h3
    =link_to list_item.name, person_path(list_item)
  - if list_item.twitter.present?
    %span{:class => 'twitter_link'}
      %a{:href => "https://twitter.com/#{list_item.twitter}"}= "@#{list_item.twitter}"
      on Twitter
  %p{:class=>'bio'}= strip_links(list_item.bio)
  - if context == :claim
    .actions
      = link_to "That's me!", claim_person_path(list_item), :class => 'claim'
