- content_for(:section_header) do
  .section_header.people
    %h1= people_list_title(@people, @tag)
    = link_to t('people.button.add'), new_person_path, :class => 'new', :id => 'new_person'
    #view_options
      %span.sorting
        %strong
          = t('list.sort_by') + ':'
        = sort_link(:name, :label => t('field.name.label')) + ","
        = sort_link(:created_at, :label => t('field.created_at.label'), :default_order => :desc) + ","
        = sort_link(:random, :label => t('field.random.label'), :is_default => :asc)
      %span.view
        %strong
          = t('list.view_as.title') + ':'
        = link_to_unless_current t('list.view_as.list'), people_path(:page => params[:page], :column => params[:column], :order => params[:order])
        = "|"
        = link_to_unless_current t('list.view_as.grid'), grid_people_path(:page => params[:page], :column => params[:column], :order => params[:order])
      %span.show
        %strong= t('list.mentor_filter.title') + ':'
        = link_to_unless_current t('list.mentor_filter.all'), people_path(:page => params[:page], :column => params[:column], :order => params[:order])
        = "|"
        = link_to_unless_current t('list.mentor_filter.mentors'), mentors_people_path(:page => params[:page], :column => params[:column], :order => params[:order])
        = "|"
        = link_to_unless_current t('list.mentor_filter.mentees'), mentees_people_path(:page => params[:page], :column => params[:column], :order => params[:order])


- if @view == :grid
  = render :partial => 'grid', :object => @people
- else
  = render :partial => 'list', :object => @people
