%h1 Add someone to ePDX
- if request.post?
  = render 'form'
  = link_to 'Back', people_path
-else
  %h2 Search for a person to add
  %p
    :erb
      We'll search Twitter.
  = form_tag new_person_path, :method => :get do
    = text_field_tag(:q, params[:q])
    = submit_tag("Search")

  - if @found_people.present?
    %ul{:id => 'people_search_results', :class => 'resource_list people'}
      - @found_people.each do |person|
        %li{:class => [person.new_record? ? person.imported_from_provider : 'existing']}
          - if photo_url = person.photo_import_url || person.photo.url
            .avatar
              %img{:src => photo_url}
          %h3= person.name
          - if person.imported_from_provider == 'twitter'
            %strong
              %a{:href => "https://twitter.com/#{person.imported_from_id}"}= "@#{person.imported_from_id}"
              on Twitter
          %p{:class=>'location'}= person.location
          %p{:class=>'bio'}= person.bio
          - if !person.new_record?
            .existing_user_label
              ePDX already knows #{person.name}!
          - else
            = form_for person, :html => { :id => "#{person.imported_from_provider}_#{person.imported_from_id}_form"} do |f|
              - [ :name,
                  :bio,
                  :location,
                  :photo_import_url,
                  :imported_from_provider,
                  :imported_from_id,
                  :url].each do |attribute|
                = f.hidden_field attribute,
                  :id => "#{person.imported_from_provider}_#{person.imported_from_id}_#{attribute}"
              =submit_tag "Add #{person.name} to directory"
