.single_record.person{:class => @person.photo.file? ? 'with_image' : 'without_image'}
  = link_to image_tag(@person.photo.url(:medium), :class => 'person_photo'), photo_person_path(@person) if @person.photo.file?
  %h1= @person.name
  - if current_user && @person.user.blank? && current_person.nil?
    #claim_user
      %p= "Are you #{@person.name}?"
      = link_to "Claim this person", claim_person_path(@person), :class => 'claim'
      -# TODO: Report duplicate if current_user.person.present?

  - if @person.location.present?
    .location= @person.location
  - if @person.bio.present?
  .bio= simple_format @person.bio
  .links
    - if @person.url.present?
      = link_to( normalize_url(@person.url), normalize_url(@person.url), :class => 'url') if @person.url.present?

  - if @person.tags.present?
    .section.tags
      %h2 Tags
      = render :partial => 'tags/list', :object => @person.tags, :locals => {:type => :person}

  - if @person.technologies.present?
    .section.technologies
      %h2 Technologies
      = render :partial => 'tags/list', :object => @person.technologies, :locals => {:type => :person}

  - if @person.companies.present?
    .section.companies
      %h2 Companies
      = render :partial => 'companies/list', :object => @person.companies

  - if @person.groups.present?
    .section.groups
      %h2 Groups
      = render :partial => 'groups/list', :object => @person.groups

  - if @person.projects.present?
    .section.projects
      %h2 Projects
      = render :partial => 'projects/list', :object => @person.projects

  .record_actions
    - if current_user && (current_user.admin? || current_user.person == @person)
      = link_to 'Edit', edit_person_path(@person), :class => 'edit'
      = link_to "Delete", person_path(@person), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
