%h1= @person.name
- if @person.user.blank?
  #claim_user
    Is this you?
    - if current_user.person.blank?
      = link_to "Claim this person", claim_person_path(@person)
    -# TODO: Report duplicate if current_user.person.present?
%p
  %b Twitter:
  = @person.twitter
%p
  %b Url:
  = normalize_url(@person.url)
= link_to 'Edit', edit_person_path(@person)
