- content_for(:section_header) do
  .section_header{:class => 'groups'}
    %h1= "#{@tag} groups".strip.titleize
    = link_to "+ Add a Group", new_group_path, :class => 'new'
    #view_options
      %span.sorting
        %strong Sort by:
        = sort_link(:name) + ","
        = sort_link(:created_at, :label => "Date added", :default_order => :desc, :is_default => :desc) + ","
        = sort_link(:random)

= render :partial => 'groups/list', :object => @groups
