.single_record.group{:class => @group.logo.file? ? 'with_image' : 'without_image'}
  = image_tag(@group.logo.url(:medium), :class => 'logo') if @group.logo.file?
  %h1= @group.name
  - if @group.description.present?
    .description= simple_format @group.description
  - if @group.meeting_info.present?
    %h2 Meeting Info
    .description= simple_format @group.meeting_info
  .links
    - if [@group.url, @group.mailing_list].any?{|link| link.present?}
      %h2 Links
    - if @group.url.present?
      =link_to normalize_url(@group.url), normalize_url(@group.url), :class => 'url'
    - if @group.mailing_list.present?
      =link_to "Mailing List", normalize_url(@group.mailing_list), :class => 'mailing_list'

  .record_actions
    = link_to 'Edit', edit_group_path(@group), :class => 'edit'
    = link_to "Delete", group_path(@group), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'

  - if @group.tags.present?
    .section.tags
      %h2 Tags
      = render :partial => 'tags/list', :object => @group.tags, :locals => {:type => :company}

  - if @group.technologies.present?
    .section.technologies
      %h2 Technologies
      = render :partial => 'tags/list', :object => @group.technologies, :locals => {:type => :group}

  .section.members
    %h2 Members
    - if current_person
      - if @group.members.include?(current_person)
        = link_to "Leave this group", leave_group_path(@group), :class => 'leave', :method => :post
      - else
        = link_to "Join this group", join_group_path(@group), :class => 'join', :method => :post
    = render :partial => 'people/list', :object => @group.members, :locals => {:context => :member_list}
