- content_for(:section_header) do
  .section_header{:class => 'events'}
    %h1 Hey there!

#user_home
  #profile
    %h2 What would you like to do?
    %ul
      %li= link_to "View your profile", person_path(current_person)
      %li= link_to "Edit your profile", edit_person_path(current_person)
      %li= link_to "Add a friend to the directory", new_person_path
      - if current_person.companies.blank?
        %li= link_to "Add your company", new_company_path
  #authentications
    %h2 Linked Accounts
    = semantic_form_for(SignInData.new(:email => current_user.email), :url => user_sessions_path) do |f|
      = f.inputs do
        = f.input :email, :as => :hidden
        = f.input :provider, :collection => Authentication::PROVIDER_OPTIONS, :prompt => 'Pick a service…', :label => 'Add an account'
      = f.buttons do
        = f.commit_button "Add it!"

    = render :partial => 'authentications/list', :object => current_user.authentications
