#users_admin
  %h1 Users
  %ul
    - @users.each do |user|
      %li{:class => user.admin? ? 'admin' : nil}
        - if user.admin?
          %strong Admin
        = "User #{user.id}: #{user.name}"
        = link_to "Delete", user_path(user), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
        = link_to ((user.admin? ? 'Un-' : '') + 'adminify').capitalize, adminify_user_path(user), :method => :post, :class => 'make_admin'
        %ul
          - if user.person.present?
            %li
              = "Person #{user.id}:"
              = link_to user.person.name, person_path(user.person)
          - user.authentications.each do |auth|
            %li
              = "Authentication #{auth.id}: #{auth.info[:name]}"
              = "(#{auth.info[:nickname]})" if auth.info[:nickname]
              = "via #{provider_name(auth.provider)}"
              = link_to "Delete", authentication_path(auth), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
              - if auth.matching_person && auth.matching_person != user.person
                %ul
                  %li
                    = "Person #{user.id}:"
                    = link_to auth.matching_person.name, person_path(auth.matching_person)
