= semantic_form_for(@project, :html => {:multipart => true}) do |f|
  = display_errors_for @project
  = f.inputs do
    = f.input :name
    = f.input :url
    = f.input :description
    = f.input :tag_list, :as => :text, :hint => t('field.tag_list.hint'), :input_html => {:class => 'tags'}
    = f.input :technology_list, :as => :text, :hint => t('field.technology_list.hint'), :input_html => {:class => 'tags'}
    = import_image_from_url_tags_for f, @project, :logo
  = f.buttons
