= semantic_form_for(@project, :html => {:multipart => true}) do |f|
  = display_errors_for @project
  = f.inputs do
    = f.input :name
    = render 'site/custom_slug_field', :form => f
    = f.input :url, :label => 'Website'
    = f.input :description
    = f.input :tag_list, :as => :text, :label => 'Tags', :hint => "Comma separated, please", :input_html => {:class => 'tags'}
    = f.input :technology_list, :as => :text, :label => 'Technologies used (languages, frameworks, etc)', :hint => "Comma separated, please", :input_html => {:class => 'tags'}
    = import_image_from_url_tags_for f, @project, :logo
  = f.buttons
