= semantic_form_for(@company, :html => {:multipart => true}) do |f|
  = display_errors_for @company
  = f.inputs do
    = f.input :name
    = render 'site/custom_slug_field', :form => f
    = f.input :url
    = f.input :address, :as => :string
    = f.input :description
    = f.input :tag_list, :as => :text, :input_html => {:class => 'tags'}
    = f.input :technology_list, :as => :text, :input_html => {:class => 'tags'}
    = import_image_from_url_tags_for f, @company, :logo
  = f.buttons
