= semantic_form_for(@company, :html => {:multipart => true}) do |f|
  = f.inputs do
    = f.input :name
    = f.input :url, :label => t('field.url.label')
    = f.input :address, :as => :string, :hint => t('field.address.hint'), :label => t('field.address.label')
    = f.input :description
    = f.input :tag_list, :as => :text, :label => t('field.tag_list.label'), :hint => t('field.tag_list.hint'), :input_html => {:class => 'tags'}
    = f.input :technology_list, :as => :text, :label => t('field.technology_list.label'), :hint => t('field.technology_list.hint'), :input_html => {:class => 'tags'}
    - if @company.logo.file?
      %li
        .faux_label = t('field.logo.faux_label')
        = image_tag @company.logo.url(:medium) if @company.logo.present?
    = f.input :logo, :label => t('field.logo.label'), :hint => t('field.logo.hint', {:size => 220})
  = f.buttons
