- content_for(:section_header) do
  .section_header{:class => 'companies'}
    %h1= semantic_pluralize(@companies.respond_to?(:total_entries) ? @companies.total_entries : @companies.size, t('company.index.title',{:tag => @tag}).strip.titleize)
    = link_to t('company.button.add'), new_company_path, :class => 'new'
    #view_options
      %span.sorting
        %strong = t('list.sort_by'):
        = sort_link(:name, :label => t('field.name.label')) + ","
        = sort_link(:created_at, :label => t('field.created_at.label'), :default_order => :desc, :is_default => :desc) + ","
        = sort_link(:random, :label => t('field.random.label'))

= render :partial => 'companies/list', :object => @companies
