.single_record.company{:class => @company.logo.file? ? 'with_image' : 'without_image'}
  = image_tag(@company.logo.url(:medium), :class => 'logo') if @company.logo.file?
  %h1= @company.name
  - if @company.address.present?
    .location= @company.address
  - if @company.description.present?
    .description= simple_format @company.description
  .links
    - if @company.url.present?
      =link_to normalize_url(@company.url), normalize_url(@company.url), :class => 'url'

  .record_actions
    = link_to 'Edit', edit_company_path(@company), :class => 'edit'
    = link_to "Delete", company_path(@company), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
