= semantic_form_for(@resource) do |f|
  = f.inputs do
    = f.input :name
    = f.input :url, :label => "URL"
    = f.input :description, :label => "Brief description"
    = f.input :category

  = f.buttons do
    = f.commit_button
    %li
      = link_to "Delete", resource_path(@resource), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'

