<h1 class='resources'>Resources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Description</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.name %></td>
    <td><%= resource.url %></td>
    <td><%= resource.description %></td>
    <td><%= resource.category %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
