#site_intro
  A community-edited guide to the
  %span{:class => 'awesome'} awesome tech community
  of Portland, Oregon

%h2#home_to Home to
%ul#front_nav
  %li.people= link_to semantic_pluralize(Person.count, "Person"), people_path
  %li.companies= link_to semantic_pluralize(Company.count, "Company"), companies_path
  %li.groups= link_to semantic_pluralize(Group.count, "Group"), groups_path
  %li.projects= link_to semantic_pluralize(Project.count, "Project or Product", "Projects & Products"), projects_path
  %li.resources= link_to semantic_pluralize(Resource.count, "Resource"), '/resources'
  /%li.events= link_to semantic_pluralize(0, "Upcoming Events"), '/events'