= semantic_form_for(@resource_link) do |f|
  = display_errors_for @resource_link
  = f.inputs do
    = f.input :name
    = f.input :url
    = f.input :description
    = f.input :category

  = f.actions do
    = f.action(:submit, :as => :input)
    - unless @resource_link.new_record?
      %li
        = link_to t('button.delete'), resource_link_path(@resource_link), :confirm => t('alert.are_you_sure'), :method => :delete, :class => 'delete'
