!!! 5
%html
  %head
    %title ePDX
    %meta{:name=>"viewport", :content=>"width=device-width"}
    - force_mobile = params[:force_mobile].present?
    -#
      Level 1: All browsers, evar.
      Provides basic mobile layout
    = stylesheet_link_tag 'compiled/basic_mobile', :media => 'all'

    -#
      Level 2: Nicer mobile browsers
      Narrow devices that support @media queries get this one
    = stylesheet_link_tag('compiled/advanced_mobile',
        :media => force_mobile ? 'all' : 'only screen and (max-device-width: 960px)')

    -# Level 3: Desktop browsers only
    = stylesheet_link_tag('compiled/desktop',
        :media => force_mobile ? 'none' : 'all and (min-device-width: 961px)')

    = csrf_meta_tag
  %body{:class => "#{controller_name} #{controller_name}_#{action_name}"}
    #header
      %h1
        %a{:href => root_path}
          ="<span>e</span>PDX".html_safe
          %img{:class => 'home_marker', :src => '/images/home_12x12.png',
            :height => 12, :width => 12}
      #account_box
        - if current_user.present?
          %img.avatar{:src => current_user.profile_image_url, :align => 'left'}
          .name
            = link_to current_user.name, user_path(current_user)
          = link_to 'log out', logout_path
        - else
          %a{:href => login_path, :class => 'sign_in'}
            Sign in with Twitter
      %ul{:id=>'main_nav'}
        %li= link_to "People", people_path, :class => 'people'
        %li= link_to "Companies", companies_path, :class => 'companies'
        %li= link_to "Groups", groups_path, :class => 'groups'
        %li= link_to "Projects + Products", projects_path, :class => 'projects'
        %li= link_to "Resources", resources_path, :class => 'resources'
        /%li= link_to "Events", 'http://calagator.org', :class => 'events'

    #content
      = yield